# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
dist/
build/
.env

# Secrets
*.json
!pubspec.json
secrets/

# Alembic
alembic/versions/__pycache__/

# Flutter
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/build/
mobile/android/.gradle/
mobile/android/local.properties
mobile/android/app/google-services.json
mobile/ios/GoogleService-Info.plist
mobile/ios/Pods/
mobile/ios/.symlinks/

# IDEs
.idea/
.vscode/
*.iml
